# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.CodeVsZombies.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Tom\CodinGame\CodeVsZombies\.idea\.idea.CodeVsZombies\.idea/dataSources/
/dataSources.local.xml
